
.fs-4 {
    letter-spacing: 3px;
    color: rgb(210, 210, 210)
}

.nav-item:hover {
    background-color: #a6d388;
    color: #333;
}

.nav-item img {
    margin-left: 18px; /* Добавьте отступ, если нужен промежуток между изображением и ссылкой */
    margin-right: 5px;
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
}

.nav-link {
    display: block; /* Заставляем ссылку занимать всю ширину */
    width: 100%; /* Дополнительно обеспечиваем полную ширину */
    text-decoration: none; /* Убираем подчеркивание, если нужно */
}
