body {
    font-family: "Roboto", sans-serif;
    background-color: #333;
    font-weight: 500;
    color: #d2d2d2
}

.page_content {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 65px;
    padding-bottom: 40px
}

a {
    color: rgb(210, 210, 210);
    /*text-decoration: none;*/
}

a:hover{
    color: #548a35;
}

.custom-ul{
    padding-left: 20px; /* Отступ для размещения изображения */
    text-align: left;
}

.custom-ul li {
    position: relative; /* Устанавливаем позиционирование, чтобы можно было смещать псевдоэлементы */
    padding-left: 20px; /* Отступ для текста от левого края */
}

.custom-ul li::before {
    content: "•"; /* Используем символ точки */
    position: absolute;
    left: 0; /* Смещаем символ влево от текста */
    color: black; /* Цвет декоративной точки */
}

.col-lg-9 img{
    margin-bottom: 4px;
}