body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    background-color: #333;
    color: rgb(210, 210, 210);
}

.item-title{
    margin-bottom: 0 !important;
}

.item-container{
    padding-top:80px;
}

.items-per-page{
    padding-top: 0;
    padding-bottom: 25px;
}

.table-items{
    padding-top: 65px;
}

.item-table {
    color: rgb(210, 210, 210);
}

td a {
    color: rgb(210, 210, 210);
    /*text-decoration: none;*/
}

td a:hover{
    color: #548a35;
}

.highlight{
    background-color:#548a35;
    color: #333;
}

