body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    background-color: #333;
    color: rgb(210, 210, 210);
}

.item-title{
    margin-bottom: 0 !important;
}

.item-container{
    padding-top:80px;
}

.items-per-page{
    padding-top: 0;
    padding-bottom: 25px;
}

.table-items{
    padding-top: 65px;
}

.item-table {
    color: rgb(210, 210, 210);
}

td a {
    color: rgb(210, 210, 210);
    /*text-decoration: none;*/
}

td a:hover{
    color: #548a35;
}

.highlight{
    background-color:#548a35;
    color: #333;
}

.bouncing-ball-loader {
    display: flex;
    align-items: flex-start; /* Прижимает содержимое к нижнему краю */
    height: 100px; /* Устанавливает высоту div */
    width: 100%; /* Занимает всю ширину родительского элемента */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    /* Вы можете добавить дополнительные стили как фон, отступы и т.д. */
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 100px, 0);
    }
}

.bouncing-ball-loader img {

    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

/* ffffffffffffffffffffffff*/

.table-container {
    overflow: hidden; /* Скрыть выходящий за пределы контент */
    position: relative;
}

.fade-out-next {
    animation: fadeOutLeft 0.15s forwards;
}

/* Анимация появления для кнопки "next" */
.fade-in-next {
    animation: fadeInLeft 0.15s forwards;
}


/* Анимация исчезновения для кнопки "prev" */
.fade-out-prev {
    animation: fadeOutRight 0.15s forwards;
}

/* Анимация появления для кнопки "prev" */
.fade-in-prev {
    animation: fadeInRight 0.15s forwards;
}

@keyframes fadeOutRight {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(100px); }
}

@keyframes fadeInRight {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOutLeft {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(-100px); }
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(100px); }
    to { opacity: 1; transform: translateX(0); }
}