body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    background-color: #333;
    color: rgb(210, 210, 210);
}

.matches-title{
    margin-bottom: 0 !important;
}

.match_container{
    padding-top:80px;
}

.matches-per-page{
    padding-top: 0;
    padding-bottom: 25px;
}

.table_matches{
    padding-top: 65px;
}

.match_table {
    color: rgb(210, 210, 210);
}




