body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    background-color: #333;
    color: rgb(210, 210, 210);
}

.item-container {
    padding-top: 80px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.player_form {
    width: 100%;
    outline: none;
    margin-top: 8px;
    margin-bottom: 60px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
    color: rgb(210, 210, 210);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: box-shadow 0.5s ease,
    all 150ms linear;
}


@keyframes gradientBorderBlink {
    0%, 100% {
        box-shadow: 0 0 0px 0px rgba(255, 0, 0, 0.23); /* Без эффекта */
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.49); /* Красная расплывчатая граница */
    }
}

.player_form.invalid {
    animation: gradientBorderBlink 1s ease-out 1; /* Анимация длится 1 секунду и повторяется только один раз */
}


.player_ac {
    width: 100%;
    position: absolute;
    left: 0;
    top: 55px;
}

.ac-element {
    background-color: #27272b;
    color: rgb(210, 210, 210);
    z-index: 999;
}

.ac-element:hover {
    font-family: "Roboto", sans-serif !important;
    color: #548a35;
}


.text-info {
    /*color: #0dcaf0 !important;*/
    background-color: #548a35;
    color: #333 !important;
}

.btn-start {
    height: 50px;
    border-style: none;
    font-size: 20px;

    outline: none;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(210, 210, 210);;
    background-color: #548a35;
    pointer-events: painted;
    transition: transform 0.1s ease-in-out;

    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
}


.btn-start:hover {
    /*box-shadow: 0px 15px 25px -5px #213714;*/
    /*transform: scale(1.03);*/
    background: #538c34;
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);

}

.btn-start:active {
    /*box-shadow: 0px 4px 8px #2f4c1e;*/
    transform: scale(0.98);

    box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.7);
}

/**/

.error-popup {
    position: absolute;
    height: 40px;
    top: -35px; /* Расположите под полем ввода или где удобно */
    left: 0;
    background-color: #f44336;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;


}