.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background: #a6d388;
    color: #333;
    border-color: rgb(112, 112, 112);
}


.pagination {
    margin-bottom: 10px;
}

.pagination > li > a {
    background-color: #333;
    color: rgb(210, 210, 210);
    border-color: rgb(210, 210, 210);
}

.page-item.active .page-link {
    background: #548a35;
    color: #333;
    border-color: rgb(210, 210, 210);
    z-index: -1;

    pointer-events: none;
    cursor: default;
}

.page-item.disabled .page-link {
    background: rgba(175, 175, 175, 0.46);
    color: rgb(243, 242, 242);
    border-color: rgb(210, 210, 210);
}

.page-item.disabled-custom .page-link {
    background: #333;
    color: rgb(243, 242, 242);
    border-color: rgb(210, 210, 210);
}

/**/

.go-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}


.go-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}


.input-go {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 10px;
    background-color: #548a35;
    padding-right: 40px;
    color: rgb(210, 210, 210);

}

.btn-go {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    color: rgb(210, 210, 210);;
    background-color: transparent;
    pointer-events: painted;


}




.input-go-full {
    width: 180px;
    max-width: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 150ms linear;
    padding-right: 85px;
}

@keyframes borderBlinkFade {
    0% {
        border-color: transparent;
        opacity: 1;
    }
    50% {
        border-color: red;
        opacity: 0.5;
    }
    100% {
        border-color: transparent;
        opacity: 1;
    }
}

@keyframes gradientBorderBlink {
    0%, 100% {
        box-shadow: 0 0 0px 0px rgba(255, 0, 0, 0.23); /* Без эффекта */
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.49); /* Красная расплывчатая граница */
    }
}

.input-go {
    outline: none;
    transition: box-shadow 0.5s ease,
    all 150ms linear;
}

.input-go.invalid {
    animation: gradientBorderBlink 1s ease-out 1; /* Анимация длится 1 секунду и повторяется только один раз */
}